*,
:after,
:before {
	box-sizing: border-box
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: #eeeded;
	font-family: 'Roboto Mono', Arial, serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

button {
	border: none;
	outline: 0;
	cursor: pointer
}

.left {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill="#fff"></path><\/svg>') no-repeat center center;
	cursor: pointer;
	height: 70px;
	width: 70px;
	position: fixed;
	transition: opacity .2s;
	z-index: 5
}

.left:hover {
	opacity: .5
}

nav {
	background: #fff;
	box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
	height: 100%;
	position: fixed;
	top: 0;
	width: 18em;
	z-index: 10;
	transform: translate3d(-19em, 0, 0);
	transition: transform .2s cubic-bezier(.16, .68, .43, .99)
}

nav a {
	color: gray;
	display: block;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 3.9em;
	padding-left: 1.5em;
	text-decoration: none
}

nav a:hover {
	background: #fafafa
}

header {
	backface-visibility: hidden;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	position: fixed;
	text-align: center;
	top: 0;
	transition: .25s transform;
	width: 100%;
	z-index: 2;
	height: 70px
}

footer {
	font-size: .8em;
	text-align: center;
	fill: gray;
	color: gray;
	margin-top: 100px;
	margin-bottom: 30px
}

footer ul {
	-webkit-padding-start: 0;
	margin-bottom: 50px
}

footer li {
	display: inline;
	padding: 10px
}

.wrapper-text {
	background: #fff;
	color: gray;
	font-size: 17px;
	height: 100%;
	margin: 0 auto;
	max-width: 700px;
	padding: 1em 3em 3em;
	position: relative;
	top: 0;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
	outline: 0
}

h5 {
	font-size: 24px
}

.show {
	transform: translate3d(0, 0, 0)
}

main {
	display: block;
	margin: 0 auto;
	height: 100%;
	position: relative;
	top: 5em;
	width: 1820px
}

section {
	padding-bottom: 3em
}

@media (max-width:1820px) {
	main {
		margin: auto;
		padding: 0;
		width: 1510px
	}
}

@media (max-width:1510px) {
	main {
		width: 1210px
	}
}

@media (max-width:1210px) {
	main {
		width: 910px
	}
}

@media (max-width:910px) {
	main {
		width: 610px
	}
}

@media (max-width:610px) {
	main {
		width: 300px
	}
}

@keyframes flyintotop {
	from {
		transform: translateY(100vh)
	}
	to {
		transform: translateY(0)
	}
}

.box {
	animation: flyintotop .4s backwards;
	position: relative;
	display: inline-block;
	width: 274px;
	height: 270px;
	background: #fff;
	margin: 10px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
	transition: all .2s ease-in-out
}

.box:hover {
	box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19)
}

.pen {
	height: 12em;
	width: 17em;
	position: absolute;
	margin: 0 auto
}

main svg {
	height: 10em;
	width: 10em;
	top: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	cursor: zoom-in
}

main svg:focus {
	top: 5em;
	position: fixed;
	margin: 0 auto;
	z-index: 7;
	width: 100%;
	height: 100%;
	max-width: 50em;
	max-height: 50em;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 5em;
	padding-bottom: 5em;
	outline: 0;
	background: #fff;
	outline-width: 100em;
	outline-style: solid;
	outline-color: rgba(0, 0, 0, .07);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
	pointer-events: none
}

.box:nth-child(0) {
	animation-delay: .74s
}

.box:nth-child(1) {
	animation-delay: .37s
}

.box:nth-child(2) {
	animation-delay: .45s
}

.box:nth-child(3) {
	animation-delay: .7s
}

.box:nth-child(4) {
	animation-delay: .35s
}

.box:nth-child(5) {
	animation-delay: .4s
}

.box:nth-child(6) {
	animation-delay: .9s
}

.box:nth-child(7) {
	animation-delay: .72s
}

.box:nth-child(8) {
	animation-delay: .31s
}

.box:nth-child(9) {
	animation-delay: .42s
}

.box:nth-child(10) {
	animation-delay: .6s
}

.box:nth-child(11) {
	animation-delay: .31s
}

.box:nth-child(12) {
	animation-delay: .44s
}

.box:nth-child(13) {
	animation-delay: 1s
}

.name {
	background-color: #fafafa;
	color: gray;
	padding: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	bottom: 0;
	width: 100%
}

.codepen {
	position: absolute;
	left: 215px;
	bottom: -65px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32px" viewBox="0 0 64 64"><path stroke="gray" stroke-width="3" stroke-linejoin="round" fill="none" d="M31.6 11.8l-20.3 13.5 20.3 13.8 20.8-13.8zM31.6 24.5l-20.3 13.2 20.3 13.8 20.8-13.8z"/><path stroke="gray" stroke-width="3" d="M31.6 11.8v14.5M31.6 39.1v10.6M11.3 25.3v11.8M52.4 25.3v11.8"/></svg>');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	height: 42px;
	width: 42px;
	transition: background-color .2s;
	border-radius: 50%;
	background-color: transparent
}

.codepen:hover {
	background-color: rgba(216, 216, 222, .19)
}

@keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.icon-drawer {
	display: inline-block;
	height: 31.9px;
	margin-right: 1em;
	padding: .03em;
	position: relative;
	top: .5em;
	width: 31.9px;
	width: 2.3em
}

.one {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 32C7.2 32 0 24.7 0 16S7 0 16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16z" fill="#E91E63"/></svg>') no-repeat center center
}

.two {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 0c8.6 0 16 7 16 16 0 8.8-7.3 16-16 16z" fill="#E1E1E1"/><path d="M16 0C7.3 0 0 7 0 16c0 8.8 7.2 16 16 16z" fill="#ACACAC"/></svg>') no-repeat center center
}

.three {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 32C7.2 32 0 24.7 0 16S7 0 16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16z" fill="#ff9800"/></svg>') no-repeat center center
}

.four {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 32C7.2 32 0 24.7 0 16S7 0 16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16z" fill="#673ab7"/></svg>') no-repeat center center
}

.five {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 32C7.2 32 0 24.7 0 16S7 0 16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16z" fill="#4CAF50"/></svg>') no-repeat center center
}

.six {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M16 32C7.2 32 0 24.7 0 16S7 0 16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16z" fill="#ff8f40"/></svg>') no-repeat center center
}

section:not(:target) {
	display: none
}

.intro {
	top: 0;
	height: 12em;
	margin: 0 auto;
	padding-top: 4em;
	position: relative;
	width: 100%;
	z-index: 4;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0, 0, 543.445, 152.993"><path d="M483.855.623c16.15-2.19 32.87 1.49 46.95 9.59 4.23 2.36 8.37 4.9 12.64 7.22-19.27 33.97-39.07 67.65-58.46 101.55-.83 1.51-1.79 2.94-2.85 4.29-.19-20.1-.04-40.19-.08-60.29-20.99.02-41.98-.02-62.97.03 2.37-15.2 9.67-29.59 20.48-40.52 11.7-12.04 27.63-19.87 44.29-21.87z" fill="#fff"/><path d="M25.345 8.173c6.43-3.21 13.64-4.6 20.8-4.63 34.57-.19 69.15.13 103.71-.17.36 32.51.03 65.04.18 97.55-34.99-.12-69.98-.03-104.97-.04-10.57-.05-21.07-3.86-29.15-10.68-8.08-7.08-13.6-16.89-15.65-27.42-.28-10.02-1.07-20.48 2.68-30.02 4.17-10.52 12.1-19.71 22.4-24.59z" fill="#fff"/><path d="M211.055 2.993h149.99c-25.01 49.99-49.96 99.99-75 149.96-25.03-49.97-50-99.97-74.99-149.96z" fill="#fff"/><path d="M.265 62.783c2.05 10.53 7.57 20.34 15.65 27.42 8.08 6.82 18.58 10.63 29.15 10.68 34.99.01 69.98-.08 104.97.04.6 12.33-1.75 25.43-9.86 35.14-8.51 11-22.37 16.96-36.15 16.91-34.66.04-69.31.01-103.97.01.12-30.06-.3-60.15.21-90.2z" fill="rgba(0, 0, 0, .1)"/><path d="M392.085 63.033c9 .02 18 .06 27-.02 20.99-.05 41.98-.01 62.97-.03.04 20.1-.11 40.19.08 60.29-.31 9.89-.1 19.79-.13 29.68-29.98-.04-59.95-.03-89.92 0 .03-29.98.03-59.95 0-89.92z" fill="rgba(0, 0, 0, .1)"/></svg>');
	background-repeat: no-repeat;
	background-position: center center
}

.logo {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 70px;
	text-decoration: none;
	transition: opacity .2s;
	z-index: 3;
	cursor: pointer
}

.logo:hover {
	opacity: .7
}

.orange {
	background-color: #ff9800
}

.pink {
	background-color: #e91e63
}

.purple {
	background-color: #673ab7
}

.blue {
	background-color: #2196f3
}

.deep-orange {
	background-color: #ff5722
}

.gray {
	background-color: #444
}

.green {
	background-color: #4caf50
}

input[type=text] {
	width: 70px;
	font-size: 20px;
	color: gray;
	font-family: sans-serif;
	font-weight: 400;
	z-index: 7;
	right: 0;
	position: fixed;
	border: none;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27C12.59 15.41 11.11 16 9.5 16A6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z" fill="#fff"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	transition: all .2s ease-in-out;
	cursor: pointer;
	height: 70px
}

input[type=text]:focus,
input[type=text]:valid {
	padding-left: 3em;
	width: 100%;
	outline: 0;
	z-index: 5;
	cursor: auto;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27C12.59 15.41 11.11 16 9.5 16A6.5 6.5 0 0 1 3 9.5 6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14 14 12 14 9.5 12 5 9.5 5z" fill="gray"/></svg>') no-repeat 1em 50% #fff
}

.close {
	width: 70px;
	right: 0;
	z-index: 6;
	position: fixed;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" fill="gray"/></svg>') no-repeat center center;
	transition: all .2s ease-in-out;
	height: 70px;
	display: block
}

nav a svg {
	display: inline-block;
	margin-right: 1em;
	padding: .03em;
	top: .6em;
	width: 2em;
	height: 2em;
	position: relative;
}
